<h2>Proposer un sujet d’improvisation</h2>
<form action="/home" method="POST">
    <input type="text" id="inputNomSujet" name="inputNomSujet"
    required minlength="4">
    <button type="submit" class="btn-connect">Ajouter un sujet</button>
</form>