<h1>S’identifier</h1>
<form action="/login" method="POST">
    <div class="input-email">
        <label for="inputEmail">Email</label> 
        <input type="email" id="inputEmail" name="inputEmail" required="">
    </div>
    <div class="input-password">
        <label for="inputPassword">Mot de passe</label> 
        <input type="password" id="inputPassword" name="inputPassword" required="">
    </div>
    <button type="submit" class="btn-connect">Connexion</button>
    <p>Première visite dans la société beaux-parleurs ? <a href="/register">Inscrivez-vous !</a></p> 
</form>