<h2>Sujet proposé par la communauté</h2>
    <% sujets.forEach((sujet) => { %>
        <div class="propositions">
        <h3 class="h5 card-title"><%= sujet.nom_sujet %></h3>
        </div>
    <% });%>