@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #E4E4E4; }
  body footer {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #747474;
    text-align: center;
    margin-top: 3rem; }
  body .nav {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 1rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    body .nav img {
      margin-top: 1.4rem; }
    body .nav h2 {
      width: 15rem;
      font-size: 1.6rem;
      color: #482249;
      margin-left: 2.5rem; }
    body .nav a {
      text-decoration: none; }
  body .flex-col {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    font-family: 'Nunito', Arial, Helvetica, sans-serif; }
    body .flex-col .col-1 {
      width: 25rem;
      margin: 2rem;
      margin-top: 5rem; }
      body .flex-col .col-1 h1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2.5rem; }
      body .flex-col .col-1 h4 {
        color: #363636; }
    body .flex-col .col-2 {
      margin: 2rem;
      width: 25rem;
      height: 30rem;
      color: white;
      background: rgba(255, 95, 92, 0.801);
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px);
      -webkit-box-shadow: 0px 14px 18px -5px rgba(0, 0, 0, 0.349);
      box-shadow: 0px 14px 18px -5px rgba(0, 0, 0, 0.349);
      border-radius: 10px; }
      body .flex-col .col-2 h1 {
        text-align: center;
        margin: 0;
        margin-top: 3rem;
        font-size: 2.5rem; }
      body .flex-col .col-2 form {
        width: 13rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 2rem;
        font-weight: bold; }
        body .flex-col .col-2 form input {
          width: 18.5rem;
          height: 2rem;
          border: none;
          border-radius: 5px;
          padding: 0.3rem; }
        body .flex-col .col-2 form .input-email {
          margin-bottom: 1rem; }
        body .flex-col .col-2 form .input-password {
          margin-bottom: 3rem; }
        body .flex-col .col-2 form .btn-connect {
          border: none;
          width: 18.8rem;
          border-radius: 5px;
          height: 2.9rem;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          background-color: #6A201F;
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
          cursor: pointer; }
        body .flex-col .col-2 form p {
          width: 16rem; }
        body .flex-col .col-2 form a {
          color: #6A201F; }
  body .flex-register-col {
    margin: 2rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    font-family: 'Nunito', Arial, Helvetica, sans-serif; }
    body .flex-register-col .register-col-1 {
      width: 25rem;
      margin: 2rem;
      margin-top: 5rem; }
      body .flex-register-col .register-col-1 h1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2.5rem; }
      body .flex-register-col .register-col-1 h4 {
        color: #363636; }
    body .flex-register-col .register-col-2 {
      width: 25rem;
      height: 30rem;
      color: white;
      background: rgba(255, 95, 92, 0.801);
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px);
      -webkit-box-shadow: 0px 14px 18px -5px rgba(0, 0, 0, 0.349);
      box-shadow: 0px 14px 18px -5px rgba(0, 0, 0, 0.349);
      border-radius: 10px; }
      body .flex-register-col .register-col-2 h1 {
        text-align: center;
        margin: 0;
        margin-top: 3rem;
        font-size: 2.5rem; }
      body .flex-register-col .register-col-2 form {
        width: 13rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 2rem;
        font-weight: bold; }
        body .flex-register-col .register-col-2 form input {
          width: 18.5rem;
          height: 2rem;
          border: none;
          border-radius: 5px;
          padding: 0.3rem; }
        body .flex-register-col .register-col-2 form .input-name {
          margin-bottom: 1rem; }
        body .flex-register-col .register-col-2 form .input-email {
          margin-bottom: 1rem; }
        body .flex-register-col .register-col-2 form .input-password {
          margin-bottom: 2rem; }
        body .flex-register-col .register-col-2 form .btn-connect {
          border: none;
          width: 18.8rem;
          border-radius: 5px;
          height: 2.9rem;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          background-color: #6A201F;
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
          cursor: pointer; }
        body .flex-register-col .register-col-2 form a {
          color: white;
          text-decoration: none; }
  body .sujet-section {
    margin: 2rem;
    margin-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-around;
    font-family: 'Nunito', Arial, Helvetica, sans-serif; }
    body .sujet-section .add-sujet {
      width: 40rem;
      height: 20rem;
      color: white;
      background: #fe5731a2;
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px);
      -webkit-box-shadow: 0px 14px 18px -5px rgba(0, 0, 0, 0.349);
      box-shadow: 0px 14px 18px -5px rgba(0, 0, 0, 0.349);
      border-radius: 10px; }
      body .sujet-section .add-sujet h2 {
        text-align: center;
        margin: 0;
        margin-top: 2rem;
        font-size: 1.8rem; }
      body .sujet-section .add-sujet form {
        width: 13rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 2rem;
        font-weight: bold; }
        body .sujet-section .add-sujet form input {
          width: 33rem;
          height: 2rem;
          border: none;
          border-radius: 5px;
          padding: 0.3rem;
          margin-bottom: 2rem; }
        body .sujet-section .add-sujet form .btn-connect {
          border: none;
          width: 33.6rem;
          border-radius: 5px;
          height: 5rem;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          background-color: #6A201F;
          color: white;
          font-size: 1.5rem;
          font-weight: bold;
          cursor: pointer; }
    body .sujet-section .sujet-admis {
      width: 40rem;
      height: 20rem;
      background: #ff5468a8;
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px);
      -webkit-box-shadow: 0px 14px 18px -5px rgba(0, 0, 0, 0.349);
      box-shadow: 0px 14px 18px -5px rgba(0, 0, 0, 0.349);
      border-radius: 10px;
      overflow: auto; }
      body .sujet-section .sujet-admis h2 {
        text-align: center;
        margin: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        color: white; }
      body .sujet-section .sujet-admis .propositions h3 {
        font-size: 1rem;
        background-color: white;
        width: 33rem;
        border: none;
        border-radius: 5px;
        padding: 1rem;
        margin-left: 2.5rem;
        margin-bottom: 2rem;
        color: #482249; }
  body .roulette {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    body .roulette .sujet-semaine {
      margin: 2rem;
      font-family: 'Nunito', Arial, Helvetica, sans-serif;
      width: 50rem; }
      body .roulette .sujet-semaine h2 {
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase; }
      body .roulette .sujet-semaine h3 {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #E95755;
        margin: 0; }
  body .acces-roulette {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-left: 6rem;
    text-transform: uppercase; }
