<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
<div class="sujet-section">
    <div class="add-sujet">
    <%- include('../partials/addSujet'); %>
    </div>

    <div class="sujet-admis">
    <%- include('../partials/sujet'); %>
    </div>
</div> 
   <a href="/roulette"><h2 class="acces-roulette">Accéder a la Roulette</h2></a>
<%- include('../partials/footer'); %>