<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
        <div class="flex-col">
            <div class="col-1">
                <h1>Tout les jeudis soir c’est battle d’improvisation théatrale </h1>
                <h4>“C’est le jeu des habitudes où nous prenons conscience que, derrière chaque élément des plus communs, peut se cacher la plus extraordinaire des histoires”</h4>
            </div>
            <div class="col-2">
            <%- include('../partials/login'); %>
            </div>
        </div>
<%- include('../partials/footer'); %>
