<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>

<div class="flex-register-col">
    <div class="register-col-1">
        <h1>Nous avons hâte de vous avoir parmis nous !</h1>
        <h4>En vous inscrivant vous acceptez les conditions générales d’utilisations, pour plus d’informations n’hesitez pas à les consulter.</h4>
    </div>

    <div class="register-col-2">
        <h1>Inscription</h1>
        <form action="/register" method="POST">
            <div class="input-name">
                <label for="inputName">Nom</label> 
                <input type="text" id="inputName" name="inputName" required="">
            </div>
            <div class="input-email">
                <label for="inputEmail">Email</label> 
                <input type="email" id="inputEmail" name="inputEmail" required="">
            </div>
            <div class="input-password">
                <label for="inputPassword">Mot de passe</label> 
                <input type="password" id="inputPassword" name="inputPassword" required="">
            </div>
                <button type="submit" class="btn-connect"><a href="/home">S'inscrire</a></button> 
        </form>
    </div>
</div>
<%- include('../partials/footer'); %>