<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
<div class="roulette">
    <div class="sujet-semaine">
        <h2>Le sujet de la semaine est :</h2>
            <h3>
                <% sujets.forEach((sujet) => { %>
                    " <%= sujet.nom_sujet %> "
                <% });%>    
            </h3>
    </div>
    <div class="refresh-btn">
        <a href="javascript:location.reload(true)"><img src="https://www.svgrepo.com/show/76385/refresh.svg" alt="rafraichir la page" width="60px"></a>
    </div>
</div>


